* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("/assets/images/bg-pattern-top.svg"), url("/assetsimagesbg-pattern-bottom.svg");
}

main {
    margin: 8rem 0 0 0;
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    border-radius: 10px;
}

.card-top {
    background-image: url("/assets/images/bg-pattern-card.svg");
    width: 300px;
    height: 150px;
}

.img-block img {
    border-radius: 50px;
    height: 100px;
    border: 7px solid white;
    margin-top: -50px;
}

.img-block {
    text-align: center;
    /* top: -50px; */
}

.name-block {
    display: flex;
    justify-content: center;
    margin: .7rem 0;
}

.name-block p {
    margin-right: 1rem;
}

.lon {
    text-align: center;
    margin: 0 0 0.7rem 0;
}

.profile-data {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.profile-data p {
    font-size: 1.3rem;
}

span {
    font-size: 0.8rem;
}